<div class="page-header">
  <%= link_to books_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user.try(:admin?) %>
    <%= link_to edit_book_path(@book), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show book</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @book.title %></dd>

  <dt>Description:</dt>
  <dd><%= @book.description %></dd>

  <dt>Author:</dt>
  <dd><%= author_full_name(@book.author) %></dd>

  <dt>Price:</dt>
  <dd><%= monetize(@book.price) %></dd>

</dl>
